In [1]:
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
X1 = stats.norm.rvs(size = 100) # 100 random, normally distributed values
X2 = stats.norm.rvs(size = 100)
X3 = stats.norm.rvs(size = 100)
group = np.random.choice(['A','B','C'], size=100)
# Our outcome is influenced by X1, X2, and the group, plus some random noise
Y = 1.5 * X1 - 2.3 * X2 + 3 * (group == 'A') + 1.2 * (group == 'B') + stats.norm.rvs(size = 100)

# We can store these in a data frame
df = pd.DataFrame({'X1':X1,
                   'X2':X2,
                   'X3': X3,
                   'group':group,
                   'Y':Y})

In [14]:
l = [1,2,3]

In [15]:
l < 1

TypeError: '<' not supported between instances of 'list' and 'int'

In [9]:
np.array(l) + 1

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U21'), dtype('<U21')) -> dtype('<U21')

In [16]:
df['new_col'] = df.X1 / df.X2

In [17]:
df

          X1        X2        X3 group         Y    new_col
0   1.065030 -0.915505 -1.116959     A  5.030021  -1.163326
1  -0.226778  0.183680  0.574923     B  1.822986  -1.234634
2   0.123080 -1.208496  1.445913     C  2.051166  -0.101845
3   1.346810 -0.416883 -0.046583     B  4.113842  -3.230667
4  -2.077657  0.716116  0.237131     B -2.661880  -2.901286
..       ...       ...       ...   ...       ...        ...
95  0.873157 -0.405940 -0.447953     C  3.168364  -2.150952
96  1.301016  1.515415 -0.591891     B  0.234114   0.858521
97 -0.578570  0.140674  0.706405     C -0.612378  -4.112837
98  1.209876  1.279178  1.170765     A  3.117957   0.945823
99 -2.033204 -0.177219 -0.384158     B -0.757031  11.472838

[100 rows x 6 columns]

## Exercise 1

Get the median and the 25th percentile value for X1

In [23]:
# Your code here
print(np.median(df.X1))
print(np.percentile(df.X1, 25))

0.021284541293890062
-0.9169702384409718

In [24]:
df.X1.median()

0.021284541293890062

In [25]:
df.X1.quantile(.25)

-0.9169702384409718

## Exercise 2

Write some code that compares the correlations of each set of variables and prints the two variables with the highest correlation.

Hint: You will probably want to use two for loops (although there may also be a tricky way to do this with pandas)

In [39]:
sum(X2 == X3) == len(X2)

False

In [26]:
## Your code here
## Your code here
nums = [X1, X2, X3, Y]
numstr = ["X1", "X2", "X3", "Y"]
comp = 0
n1 = 0
for i in nums:
    n2 = 0
    for j in nums:
        if n1 != n2:
            new = stats.pearsonr(i, j)
            if new[0] > comp:
                cor1 = n1
                cor2 = n2 
                comp = new[0]
        n2 += 1
    n1 += 1
print("Highest correlation is between " + numstr[cor1] + " and "+ numstr[cor2] + " with a correlation of " + str(comp))

Highest correlation is between X1 and Y with a correlation of 0.4497182909106072

In [51]:
df.corr()

          X1        X2        X3         Y
X1  1.000000 -0.035573  0.091425  0.449718
X2 -0.035573  1.000000  0.021058 -0.731393
X3  0.091425  0.021058  1.000000 -0.009230
Y   0.449718 -0.731393 -0.009230  1.000000

True

In [63]:
max_corr = 0
max_vars = ()
for column_i in df:
    for column_j in df:
        if column_i != column_j and df[column_i].dtype !=
        'O' and df[column_j].dtype != 'O':
            curr_corr = stats.pearsonr(df[column_i], df[column_j])
            curr_corr = curr_corr[0]
            print(curr_corr)
            if abs(curr_corr) > max_corr:
                max_corr = abs(curr_corr)
                top_corr = curr_corr
                max_vars = (column_i, column_j)
print(top_corr, max_vars)

-0.03557278148552373
0.09142493186919491
0.4497182909106072
-0.03557278148552373
0.0210577634480545
-0.7313925765192238
0.09142493186919491
0.0210577634480545
-0.009230154783755433
0.4497182909106072
-0.7313925765192238
-0.009230154783755433
-0.7313925765192238 ('X2', 'Y')

In [42]:
max_corr = None
for i, j in df.corr().iterrows():
    for k in range(len(df.corr())):
        if j[k] != 1:
            if max_corr is None or j[k] > max_corr:
                max_corr = j[k]
                variable = (i, df.corr().index[k])
print(max_corr, variable)

0.4497182909106071 ('X1', 'Y')

In [ ]:
# Like many things, this could be done more quickly with pandas
df['large_y'] = df.Y > df.Y.median()

large_y_counts = df.loc[df.large_y==True,:].groupby('group').Y.count()
small_y_counts = df.loc[df.large_y==False,:].groupby('group').Y.count()

In [67]:
# but for multiple regression we need to use something else. One option is sklearn,
# the machine learning package. Another, maybe simpler is statsmodels, which I show here:

import pandas as pd
import statsmodels.formula.api as sm

In [68]:
df = pd.DataFrame({'X1':X1,
                   'X2':X2,
                   'X3': X3,
                   'group':group,
                   'Y':Y})

In [69]:
result = sm.ols(formula="Y ~ X1 + X2 + X3 + group", data=df).fit()

In [70]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.891
Method:                 Least Squares   F-statistic:                     163.1
Date:                Thu, 03 Jun 2021   Prob (F-statistic):           1.02e-44
Time:                        14:09:34   Log-Likelihood:                -138.96
No. Observations:                 100   AIC:                             289.9
Df Residuals:                      94   BIC:                             305.5
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.8564      0.181     15.802      0.000       2.498       3.215
group[T.B]    -2.0760      0.261     -7.956      0.000      -2.594      -1.558
group[T.C]    -3.1077      0.244    -12.717      0.000      -3.593      -2.623
X1             1.4173      0.096     14.814      0.000       1.227       1.607
X2            -2.3106      0.104    -22.262      0.000      -2.517      -2.105
X3            -0.0879      0.113     -0.781      0.437      -0.311       0.136
==============================================================================
Omnibus:                        5.441   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.066   Jarque-Bera (JB):                4.835
Skew:                          -0.448   Prob(JB):                       0.0891
Kurtosis:                       3.598   Cond. No.                         3.98
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Note the benefit of regression - the coefficient for X1 is much closer to the true coefficient (1.5)

## Exercise 3

Google to figure out how to output this table as text that you could put into a Word document

In [71]:
# Your code here

with open('table.txt', 'w') as f:
    f.write(str(result.summary()))

## Exercise 4

Think of a question in some data we've used before (crash data, Twitter data, reddit data) that a statistical test would help to answer and apply one of those covered above.

In [81]:
np.random.seed(35)

In [85]:
np.random.normal(size = 50)

array([-0.46454173, -0.81487316, -0.87018958,  1.33923703,  0.39519032,
        0.86344932, -0.06919494, -2.78430777,  0.83820584,  0.22949623,
        1.49052017, -1.63637191, -0.9425192 , -0.83695957,  0.89005539,
       -2.00139284,  1.08717104, -0.06010902,  0.11432589,  2.24146231,
        1.16319401, -0.59212724,  0.53013554,  0.38467515, -0.24632518,
       -1.45965037, -0.67573345, -2.33289491, -0.5610556 ,  0.35046947,
        1.28226644,  1.60909264,  0.4925648 ,  1.02488863,  2.8425254 ,
       -1.49717629, -1.75206657,  0.04016906, -0.48805239,  0.50799749,
       -0.90859003, -0.19765312,  0.62258337,  0.4212686 ,  0.45471113,
        0.77421046, -0.07436638, -0.1430368 ,  0.01795917, -0.16253649])

In [91]:
stats.chi2_contingency(df.groupby('group').size()

(0.0, 1.0, 0, array([32., 30., 38.]))